@page 
@model Covid19TestTracker.Pages.Covid19Tests.ListModel
@{
}

<h1>Tests</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-sm">
                <button class="btn btn-dark">Search</button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var test in Model.Covid19Tests)
    {
        <tr>
            <td>@test.Date</td>
            <td>@test.Description</td>
            <td>@test.Location</td>
            <td>@test.Result</td>
            <td>@test.Patient.FirstName</td>
            <td>@test.Patient.LastName</td>
            <td>@test.Patient.CprNumber</td>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Details" 
                   asp-route-covid19TestId="@test.Id">Details</a>
            </td>
        </tr>
    }

</table>




<div>@Model.Msg</div>